header {
  padding: 80px;
  text-align: center;
  background: #1abc9c color(white red green blue);
}

header h1 {
  font-size: 40px;
  color: red;
}
header h2 {
  color: red;
  font-size: 20px;
}
navbar {
  overflow: hidden;
  background-color: #333;
}
navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}
navbar a:hover {
  background-color: #ddd;
  color: black;
}
* {
  box-sizing: border-box;
}

row {
  display: flex;
  flex-wrap: wrap;
}
side {
  flex: 30%;
  background-color: #f1f1f1;
  padding: 20px;
}

main {
  flex: 70%;
  background-color: white;
  padding: 20px;
}
footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
}
img {
  width: 300px;
  height: 200px;
  padding: 30px;
  border: 30px;
  margin: 20px;
}
body {
  background: scroll;
  height: auto;
}
.button {
  background-color: red;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.button:hover {
  background-color: green;
}
div.static {
  position: static;
  border: 3px solid #73ad21;
}
h3 {
  color: red;
}